.navbar {
    background-color: #0d1b34;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
  }
    
  .user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 1050px;
  }
  
  .user-name {
    color: #757575;
    font-size: 16px;
    font-weight: bold;
  }

  .button-profile{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .user-role{
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 500;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
  }
  
  .button-logout{
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 5px;
    color: rgb(248, 247, 247);
    background-color: black;
    cursor: pointer;
    margin-left: 10px;
    z-index: 10;
}