.login-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    position: relative; /* Permite posicionar o footer corretamente */
  }
  
  .login-form {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    margin-left: 18%;
  }
  
  .login-form h3 {
    margin: 0;
    color: #6c757d;
  }
  
  .login-form h1 {
    margin: 0.5rem 0 2rem;
    font-size: 2rem;
    color: #212529;
  }
  
  .login-form form {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }
  
  .login-form a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }
  
  /* Ajuste para que a imagem ocupe metade da tela */
  .login-image {
    width: 45%; /* A imagem ocupa metade da tela */
    height: 100vh; /* Garante que a altura da imagem seja 100% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que a imagem não ultrapasse o limite da área */
    position: relative;
  }
  
  .login-image img {
    object-fit: cover;  /* A imagem vai cobrir toda a área disponível, mantendo sua proporção */
    width: 100%;        /* Faz a imagem ocupar toda a largura da área */
    height: 100%;       /* Faz a imagem ocupar toda a altura da área */
    position: absolute; /* Posiciona a imagem de forma absoluta, cobrindo toda a área */
  }
  
  .border-form {
    border: 0.1px solid rgb(165, 165, 165); /* Borda preta fina */
    border-radius: 5px; /* Deixa as pontas arredondadas */
    padding: 30px; /* Adiciona espaço interno entre o conteúdo e a borda */
    padding-right: 100px;
    background-color: #ffffff; /* Fundo branco */
  }
  
  /* Estilo para o footer */
  .footer {
    position: absolute;
    bottom: 10px; /* Distância do fundo da tela */
    left: 10px; /* Distância da esquerda */
    display: flex;
    align-items: center;
  }
  
  .footer-text {
    font-size: 20px;
    font-weight: bold;
    color: #212529;
    margin-left: 10px; /* Espaço entre o nome e a logo */
  }
  
  .logo-container .logo {
    width: 30px; /* Tamanho da logo */
    height: auto;
  }
  