@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto !important;
}

.image-menu img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 64px;
}

.listMyCourse{
    display: block;
    display: flex;
    margin-left: 20px;
}

.listMyCourse h1{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.CourseSuggestions{
    display: block;
    margin-left: 210px;
    width: auto;
}

.CourseSuggestions h1{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: -60px;
    margin-left: -195px;
    margin-top: 50px;
}

.my-footer{
    position: relative !important;
    margin-top: 30px;
}