body{
    overflow: hidden !important;
}
.update-courses-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.title {
    color: #212529;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
  
.update-courses-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
    height: 478px;
    margin-bottom: 240px;
    
}
  
.update-courses-form h3 {
    color: #212529;
    text-align: center;
    margin-bottom: 1rem;
}
  
.update-courses-form form {
    width: 100%;
}
  
.atualizar-curso-form-align-inputs{
    display: flex;
}
  
.atualizar-curso-form-align-inputs input {
    flex: 1;
}
  
.image-input {
    max-width: 50%; 
}
  
.valor-input {
    max-width: 50%; 
    margin-left: 0; 
}

.description-input {
    display: flex;
    text-align: start;
    flex-direction: column;
    gap: 0.5rem; 
    padding: 10px;
}
  
.description-textarea {
    width: 100%;
    height: 150px; 
    padding: 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box; 
    resize: none; 
    font-family: Arial, sans-serif;
    font-size: 1rem;
}
  
.border-forms input,
.border-forms textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
  
.border-forms textarea {
    height: 80px;
    resize: none; 
}
  
.border-forms {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
  
.footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}
  
.footer-text {
    font-size: 20px;
    font-weight: bold;
    color: #212529;
    margin-left: 10px;
}
  
.logo-container .logo {
    width: 30px;
    height: auto;
}
  

.buttons-update-courses {
    display: flex;            
    flex-direction: column;   
    gap: 15px;                
    margin-bottom: 200px;
    padding: 24px;
    align-items: center;      
}
